.l-offset--1-2 {
  margin-left: calc(1 / 2 * 100%);
}

@media (--v-sm) {
  .l-offset--sm-1-2 {
    margin-left: calc(1 / 2 * 100%);
  }
}

@media (--v-md) {
  .l-offset--md-1-2 {
    margin-left: calc(1 / 2 * 100%);
  }
}

@media (--v-lg) {
  .l-offset--lg-1-2 {
    margin-left: calc(1 / 2 * 100%);
  }
}
