.l-offset--1-9 {
  margin-left: calc(1 / 9 * 100%);
}

.l-offset--2-9 {
  margin-left: calc(2 / 9 * 100%);
}

.l-offset--3-9 {
  margin-left: calc(3 / 9 * 100%);
}

.l-offset--4-9 {
  margin-left: calc(4 / 9 * 100%);
}

.l-offset--5-9 {
  margin-left: calc(5 / 9 * 100%);
}

.l-offset--6-9 {
  margin-left: calc(6 / 9 * 100%);
}

.l-offset--7-9 {
  margin-left: calc(7 / 9 * 100%);
}

.l-offset--8-9 {
  margin-left: calc(8 / 9 * 100%);
}

@media (--v-sm) {
  .l-offset--sm-1-9 {
    margin-left: calc(1 / 9 * 100%);
  }

  .l-offset--sm-2-9 {
    margin-left: calc(2 / 9 * 100%);
  }

  .l-offset--sm-3-9 {
    margin-left: calc(3 / 9 * 100%);
  }

  .l-offset--sm-4-9 {
    margin-left: calc(4 / 9 * 100%);
  }

  .l-offset--sm-5-9 {
    margin-left: calc(5 / 9 * 100%);
  }

  .l-offset--sm-6-9 {
    margin-left: calc(6 / 9 * 100%);
  }

  .l-offset--sm-7-9 {
    margin-left: calc(7 / 9 * 100%);
  }

  .l-offset--sm-8-9 {
    margin-left: calc(8 / 9 * 100%);
  }
}

@media (--v-md) {
  .l-offset--md-1-9 {
    margin-left: calc(1 / 9 * 100%);
  }

  .l-offset--md-2-9 {
    margin-left: calc(2 / 9 * 100%);
  }

  .l-offset--md-3-9 {
    margin-left: calc(3 / 9 * 100%);
  }

  .l-offset--md-4-9 {
    margin-left: calc(4 / 9 * 100%);
  }

  .l-offset--md-5-9 {
    margin-left: calc(5 / 9 * 100%);
  }

  .l-offset--md-6-9 {
    margin-left: calc(6 / 9 * 100%);
  }

  .l-offset--md-7-9 {
    margin-left: calc(7 / 9 * 100%);
  }

  .l-offset--md-8-9 {
    margin-left: calc(8 / 9 * 100%);
  }
}

@media (--v-lg) {
  .l-offset--lg-1-9 {
    margin-left: calc(1 / 9 * 100%);
  }

  .l-offset--lg-2-9 {
    margin-left: calc(2 / 9 * 100%);
  }

  .l-offset--lg-3-9 {
    margin-left: calc(3 / 9 * 100%);
  }

  .l-offset--lg-4-9 {
    margin-left: calc(4 / 9 * 100%);
  }

  .l-offset--lg-5-9 {
    margin-left: calc(5 / 9 * 100%);
  }

  .l-offset--lg-6-9 {
    margin-left: calc(6 / 9 * 100%);
  }

  .l-offset--lg-7-9 {
    margin-left: calc(7 / 9 * 100%);
  }

  .l-offset--lg-8-9 {
    margin-left: calc(8 / 9 * 100%);
  }
}
