@media (--v-md) {
  .l-offset--md-1-2,
  .l-offset--md-2-4,
  .l-offset--md-3-6,
  .l-offset--md-4-8,
  .l-offset--md-5-10,
  .l-offset--md-6-12 {
    margin-left: calc(1 / 2 * 100%);
  }

  .l-offset--md-1-3,
  .l-offset--md-2-6,
  .l-offset--md-3-9,
  .l-offset--md-4-12 {
    margin-left: calc(1 / 3 * 100%);
  }

  .l-offset--md-2-3,
  .l-offset--md-4-6,
  .l-offset--md-6-9,
  .l-offset--md-8-12 {
    margin-left: calc(2 / 3 * 100%);
  }

  .l-offset--md-1-4,
  .l-offset--md-2-8,
  .l-offset--md-3-12 {
    margin-left: calc(1 / 4 * 100%);
  }

  .l-offset--md-3-4,
  .l-offset--md-6-8,
  .l-offset--md-9-12 {
    margin-left: calc(3 / 4 * 100%);
  }

  .l-offset--md-1-5,
  .l-offset--md-2-10 {
    margin-left: calc(1 / 5 * 100%);
  }

  .l-offset--md-2-5,
  .l-offset--md-4-10 {
    margin-left: calc(2 / 5 * 100%);
  }

  .l-offset--md-3-5,
  .l-offset--md-6-10 {
    margin-left: calc(3 / 5 * 100%);
  }

  .l-offset--md-4-5,
  .l-offset--md-8-10 {
    margin-left: calc(4 / 5 * 100%);
  }

  .l-offset--md-1-6,
  .l-offset--md-2-12 {
    margin-left: calc(1 / 6 * 100%);
  }

  .l-offset--md-5-6,
  .l-offset--md-10-12 {
    margin-left: calc(5 / 6 * 100%);
  }

  .l-offset--md-1-7 {
    margin-left: calc(1 / 7 * 100%);
  }

  .l-offset--md-2-7 {
    margin-left: calc(2 / 7 * 100%);
  }

  .l-offset--md-3-7 {
    margin-left: calc(3 / 7 * 100%);
  }

  .l-offset--md-4-7 {
    margin-left: calc(4 / 7 * 100%);
  }

  .l-offset--md-5-7 {
    margin-left: calc(5 / 7 * 100%);
  }

  .l-offset--md-6-7 {
    margin-left: calc(6 / 7 * 100%);
  }

  .l-offset--md-1-8 {
    margin-left: calc(1 / 8 * 100%);
  }

  .l-offset--md-3-8 {
    margin-left: calc(3 / 8 * 100%);
  }

  .l-offset--md-5-8 {
    margin-left: calc(5 / 8 * 100%);
  }

  .l-offset--md-7-8 {
    margin-left: calc(7 / 8 * 100%);
  }

  .l-offset--md-1-9 {
    margin-left: calc(1 / 9 * 100%);
  }

  .l-offset--md-2-9 {
    margin-left: calc(2 / 9 * 100%);
  }

  .l-offset--md-4-9 {
    margin-left: calc(4 / 9 * 100%);
  }

  .l-offset--md-5-9 {
    margin-left: calc(5 / 9 * 100%);
  }

  .l-offset--md-7-9 {
    margin-left: calc(7 / 9 * 100%);
  }

  .l-offset--md-8-9 {
    margin-left: calc(8 / 9 * 100%);
  }

  .l-offset--md-1-10 {
    margin-left: calc(1 / 10 * 100%);
  }

  .l-offset--md-3-10 {
    margin-left: calc(3 / 10 * 100%);
  }

  .l-offset--md-7-10 {
    margin-left: calc(7 / 10 * 100%);
  }

  .l-offset--md-9-10 {
    margin-left: calc(9 / 10 * 100%);
  }

  .l-offset--md-1-11 {
    margin-left: calc(1 / 11 * 100%);
  }

  .l-offset--md-2-11 {
    margin-left: calc(2 / 11 * 100%);
  }

  .l-offset--md-3-11 {
    margin-left: calc(3 / 11 * 100%);
  }

  .l-offset--md-4-11 {
    margin-left: calc(4 / 11 * 100%);
  }

  .l-offset--md-5-11 {
    margin-left: calc(5 / 11 * 100%);
  }

  .l-offset--md-6-11 {
    margin-left: calc(6 / 11 * 100%);
  }

  .l-offset--md-7-11 {
    margin-left: calc(7 / 11 * 100%);
  }

  .l-offset--md-8-11 {
    margin-left: calc(8 / 11 * 100%);
  }

  .l-offset--md-9-11 {
    margin-left: calc(9 / 11 * 100%);
  }

  .l-offset--md-10-11 {
    margin-left: calc(10 / 11 * 100%);
  }

  .l-offset--md-1-12 {
    margin-left: calc(1 / 12 * 100%);
  }

  .l-offset--md-5-12 {
    margin-left: calc(5 / 12 * 100%);
  }

  .l-offset--md-7-12 {
    margin-left: calc(7 / 12 * 100%);
  }

  .l-offset--md-11-12 {
    margin-left: calc(11 / 12 * 100%);
  }
}
