.l-col--1-8 {
  flex-basis: calc(1 / 8 * 100%);
  max-width: calc(1 / 8 * 100%);
}

.l-col--2-8 {
  flex-basis: calc(2 / 8 * 100%);
  max-width: calc(2 / 8 * 100%);
}

.l-col--3-8 {
  flex-basis: calc(3 / 8 * 100%);
  max-width: calc(3 / 8 * 100%);
}

.l-col--4-8 {
  flex-basis: calc(4 / 8 * 100%);
  max-width: calc(4 / 8 * 100%);
}

.l-col--5-8 {
  flex-basis: calc(5 / 8 * 100%);
  max-width: calc(5 / 8 * 100%);
}

.l-col--6-8 {
  flex-basis: calc(6 / 8 * 100%);
  max-width: calc(6 / 8 * 100%);
}

.l-col--7-8 {
  flex-basis: calc(7 / 8 * 100%);
  max-width: calc(7 / 8 * 100%);
}

@media (--v-sm) {
  .l-col--sm-1-8 {
    flex-basis: calc(1 / 8 * 100%);
    max-width: calc(1 / 8 * 100%);
  }

  .l-col--sm-2-8 {
    flex-basis: calc(2 / 8 * 100%);
    max-width: calc(2 / 8 * 100%);
  }

  .l-col--sm-3-8 {
    flex-basis: calc(3 / 8 * 100%);
    max-width: calc(3 / 8 * 100%);
  }

  .l-col--sm-4-8 {
    flex-basis: calc(4 / 8 * 100%);
    max-width: calc(4 / 8 * 100%);
  }

  .l-col--sm-5-8 {
    flex-basis: calc(5 / 8 * 100%);
    max-width: calc(5 / 8 * 100%);
  }

  .l-col--sm-6-8 {
    flex-basis: calc(6 / 8 * 100%);
    max-width: calc(6 / 8 * 100%);
  }

  .l-col--sm-7-8 {
    flex-basis: calc(7 / 8 * 100%);
    max-width: calc(7 / 8 * 100%);
  }
}

@media (--v-md) {
  .l-col--md-1-8 {
    flex-basis: calc(1 / 8 * 100%);
    max-width: calc(1 / 8 * 100%);
  }

  .l-col--md-2-8 {
    flex-basis: calc(2 / 8 * 100%);
    max-width: calc(2 / 8 * 100%);
  }

  .l-col--md-3-8 {
    flex-basis: calc(3 / 8 * 100%);
    max-width: calc(3 / 8 * 100%);
  }

  .l-col--md-4-8 {
    flex-basis: calc(4 / 8 * 100%);
    max-width: calc(4 / 8 * 100%);
  }

  .l-col--md-5-8 {
    flex-basis: calc(5 / 8 * 100%);
    max-width: calc(5 / 8 * 100%);
  }

  .l-col--md-6-8 {
    flex-basis: calc(6 / 8 * 100%);
    max-width: calc(6 / 8 * 100%);
  }

  .l-col--md-7-8 {
    flex-basis: calc(7 / 8 * 100%);
    max-width: calc(7 / 8 * 100%);
  }
}


@media (--v-lg) {
  .l-col--lg-1-8 {
    flex-basis: calc(1 / 8 * 100%);
    max-width: calc(1 / 8 * 100%);
  }

  .l-col--lg-2-8 {
    flex-basis: calc(2 / 8 * 100%);
    max-width: calc(2 / 8 * 100%);
  }

  .l-col--lg-3-8 {
    flex-basis: calc(3 / 8 * 100%);
    max-width: calc(3 / 8 * 100%);
  }

  .l-col--lg-4-8 {
    flex-basis: calc(4 / 8 * 100%);
    max-width: calc(4 / 8 * 100%);
  }

  .l-col--lg-5-8 {
    flex-basis: calc(5 / 8 * 100%);
    max-width: calc(5 / 8 * 100%);
  }

  .l-col--lg-6-8 {
    flex-basis: calc(6 / 8 * 100%);
    max-width: calc(6 / 8 * 100%);
  }

  .l-col--lg-7-8 {
    flex-basis: calc(7 / 8 * 100%);
    max-width: calc(7 / 8 * 100%);
  }
}
