.l-col--1-5 {
  flex-basis: calc(1 / 5 * 100%);
  max-width: calc(1 / 5 * 100%);
}

.l-col--2-5 {
  flex-basis: calc(2 / 5 * 100%);
  max-width: calc(2 / 5 * 100%);
}

.l-col--3-5 {
  flex-basis: calc(3 / 5 * 100%);
  max-width: calc(3 / 5 * 100%);
}

.l-col--4-5 {
  flex-basis: calc(4 / 5 * 100%);
  max-width: calc(4 / 5 * 100%);
}

@media (--v-sm) {
  .l-col--sm-1-5 {
    flex-basis: calc(1 / 5 * 100%);
    max-width: calc(1 / 5 * 100%);
  }

  .l-col--sm-2-5 {
    flex-basis: calc(2 / 5 * 100%);
    max-width: calc(2 / 5 * 100%);
  }

  .l-col--sm-3-5 {
    flex-basis: calc(3 / 5 * 100%);
    max-width: calc(3 / 5 * 100%);
  }

  .l-col--sm-4-5 {
    flex-basis: calc(4 / 5 * 100%);
    max-width: calc(4 / 5 * 100%);
  }
}

@media (--v-md) {
  .l-col--md-1-5 {
    flex-basis: calc(1 / 5 * 100%);
    max-width: calc(1 / 5 * 100%);
  }

  .l-col--md-2-5 {
    flex-basis: calc(2 / 5 * 100%);
    max-width: calc(2 / 5 * 100%);
  }

  .l-col--md-3-5 {
    flex-basis: calc(3 / 5 * 100%);
    max-width: calc(3 / 5 * 100%);
  }

  .l-col--md-4-5 {
    flex-basis: calc(4 / 5 * 100%);
    max-width: calc(4 / 5 * 100%);
  }
}


@media (--v-lg) {
  .l-col--lg-1-5 {
    flex-basis: calc(1 / 5 * 100%);
    max-width: calc(1 / 5 * 100%);
  }

  .l-col--lg-2-5 {
    flex-basis: calc(2 / 5 * 100%);
    max-width: calc(2 / 5 * 100%);
  }

  .l-col--lg-3-5 {
    flex-basis: calc(3 / 5 * 100%);
    max-width: calc(3 / 5 * 100%);
  }

  .l-col--lg-4-5 {
    flex-basis: calc(4 / 5 * 100%);
    max-width: calc(4 / 5 * 100%);
  }
}
