.l-col--1-11 {
  flex-basis: calc(1 / 11 * 100%);
  max-width: calc(1 / 11 * 100%);
}

.l-col--2-11 {
  flex-basis: calc(2 / 11 * 100%);
  max-width: calc(2 / 11 * 100%);
}

.l-col--3-11 {
  flex-basis: calc(3 / 11 * 100%);
  max-width: calc(3 / 11 * 100%);
}

.l-col--4-11 {
  flex-basis: calc(4 / 11 * 100%);
  max-width: calc(4 / 11 * 100%);
}

.l-col--5-11 {
  flex-basis: calc(5 / 11 * 100%);
  max-width: calc(5 / 11 * 100%);
}

.l-col--6-11 {
  flex-basis: calc(6 / 11 * 100%);
  max-width: calc(6 / 11 * 100%);
}

.l-col--7-11 {
  flex-basis: calc(7 / 11 * 100%);
  max-width: calc(7 / 11 * 100%);
}

.l-col--8-11 {
  flex-basis: calc(8 / 11 * 100%);
  max-width: calc(8 / 11 * 100%);
}

.l-col--9-11 {
  flex-basis: calc(9 / 11 * 100%);
  max-width: calc(9 / 11 * 100%);
}

.l-col--10-11 {
  flex-basis: calc(10 / 11 * 100%);
  max-width: calc(10 / 11 * 100%);
}

@media (--v-sm) {
  .l-col--sm-1-11 {
    flex-basis: calc(1 / 11 * 100%);
    max-width: calc(1 / 11 * 100%);
  }

  .l-col--sm-2-11 {
    flex-basis: calc(2 / 11 * 100%);
    max-width: calc(2 / 11 * 100%);
  }

  .l-col--sm-3-11 {
    flex-basis: calc(3 / 11 * 100%);
    max-width: calc(3 / 11 * 100%);
  }

  .l-col--sm-4-11 {
    flex-basis: calc(4 / 11 * 100%);
    max-width: calc(4 / 11 * 100%);
  }

  .l-col--sm-5-11 {
    flex-basis: calc(5 / 11 * 100%);
    max-width: calc(5 / 11 * 100%);
  }

  .l-col--sm-6-11 {
    flex-basis: calc(6 / 11 * 100%);
    max-width: calc(6 / 11 * 100%);
  }

  .l-col--sm-7-11 {
    flex-basis: calc(7 / 11 * 100%);
    max-width: calc(7 / 11 * 100%);
  }

  .l-col--sm-8-11 {
    flex-basis: calc(8 / 11 * 100%);
    max-width: calc(8 / 11 * 100%);
  }

  .l-col--sm-9-11 {
    flex-basis: calc(9 / 11 * 100%);
    max-width: calc(9 / 11 * 100%);
  }

  .l-col--sm-10-11 {
    flex-basis: calc(10 / 11 * 100%);
    max-width: calc(10 / 11 * 100%);
  }
}

@media (--v-md) {
  .l-col--md-1-11 {
    flex-basis: calc(1 / 11 * 100%);
    max-width: calc(1 / 11 * 100%);
  }

  .l-col--md-2-11 {
    flex-basis: calc(2 / 11 * 100%);
    max-width: calc(2 / 11 * 100%);
  }

  .l-col--md-3-11 {
    flex-basis: calc(3 / 11 * 100%);
    max-width: calc(3 / 11 * 100%);
  }

  .l-col--md-4-11 {
    flex-basis: calc(4 / 11 * 100%);
    max-width: calc(4 / 11 * 100%);
  }

  .l-col--md-5-11 {
    flex-basis: calc(5 / 11 * 100%);
    max-width: calc(5 / 11 * 100%);
  }

  .l-col--md-6-11 {
    flex-basis: calc(6 / 11 * 100%);
    max-width: calc(6 / 11 * 100%);
  }

  .l-col--md-7-11 {
    flex-basis: calc(7 / 11 * 100%);
    max-width: calc(7 / 11 * 100%);
  }

  .l-col--md-8-11 {
    flex-basis: calc(8 / 11 * 100%);
    max-width: calc(8 / 11 * 100%);
  }

  .l-col--md-9-11 {
    flex-basis: calc(9 / 11 * 100%);
    max-width: calc(9 / 11 * 100%);
  }

  .l-col--md-10-11 {
    flex-basis: calc(10 / 11 * 100%);
    max-width: calc(10 / 11 * 100%);
  }
}


@media (--v-lg) {
  .l-col--lg-1-11 {
    flex-basis: calc(1 / 11 * 100%);
    max-width: calc(1 / 11 * 100%);
  }

  .l-col--lg-2-11 {
    flex-basis: calc(2 / 11 * 100%);
    max-width: calc(2 / 11 * 100%);
  }

  .l-col--lg-3-11 {
    flex-basis: calc(3 / 11 * 100%);
    max-width: calc(3 / 11 * 100%);
  }

  .l-col--lg-4-11 {
    flex-basis: calc(4 / 11 * 100%);
    max-width: calc(4 / 11 * 100%);
  }

  .l-col--lg-5-11 {
    flex-basis: calc(5 / 11 * 100%);
    max-width: calc(5 / 11 * 100%);
  }

  .l-col--lg-6-11 {
    flex-basis: calc(6 / 11 * 100%);
    max-width: calc(6 / 11 * 100%);
  }

  .l-col--lg-7-11 {
    flex-basis: calc(7 / 11 * 100%);
    max-width: calc(7 / 11 * 100%);
  }

  .l-col--lg-8-11 {
    flex-basis: calc(8 / 11 * 100%);
    max-width: calc(8 / 11 * 100%);
  }

  .l-col--lg-9-11 {
    flex-basis: calc(9 / 11 * 100%);
    max-width: calc(9 / 11 * 100%);
  }

  .l-col--lg-10-11 {
    flex-basis: calc(10 / 11 * 100%);
    max-width: calc(10 / 11 * 100%);
  }
}
