.l-col--1-7 {
  flex-basis: calc(1 / 7 * 100%);
  max-width: calc(1 / 7 * 100%);
}

.l-col--2-7 {
  flex-basis: calc(2 / 7 * 100%);
  max-width: calc(2 / 7 * 100%);
}

.l-col--3-7 {
  flex-basis: calc(3 / 7 * 100%);
  max-width: calc(3 / 7 * 100%);
}

.l-col--4-7 {
  flex-basis: calc(4 / 7 * 100%);
  max-width: calc(4 / 7 * 100%);
}

.l-col--5-7 {
  flex-basis: calc(5 / 7 * 100%);
  max-width: calc(5 / 7 * 100%);
}

.l-col--6-7 {
  flex-basis: calc(6 / 7 * 100%);
  max-width: calc(6 / 7 * 100%);
}

@media (--v-sm) {
  .l-col--sm-1-7 {
    flex-basis: calc(1 / 7 * 100%);
    max-width: calc(1 / 7 * 100%);
  }

  .l-col--sm-2-7 {
    flex-basis: calc(2 / 7 * 100%);
    max-width: calc(2 / 7 * 100%);
  }

  .l-col--sm-3-7 {
    flex-basis: calc(3 / 7 * 100%);
    max-width: calc(3 / 7 * 100%);
  }

  .l-col--sm-4-7 {
    flex-basis: calc(4 / 7 * 100%);
    max-width: calc(4 / 7 * 100%);
  }

  .l-col--sm-5-7 {
    flex-basis: calc(5 / 7 * 100%);
    max-width: calc(5 / 7 * 100%);
  }

  .l-col--sm-6-7 {
    flex-basis: calc(6 / 7 * 100%);
    max-width: calc(6 / 7 * 100%);
  }
}

@media (--v-md) {
  .l-col--md-1-7 {
    flex-basis: calc(1 / 7 * 100%);
    max-width: calc(1 / 7 * 100%);
  }

  .l-col--md-2-7 {
    flex-basis: calc(2 / 7 * 100%);
    max-width: calc(2 / 7 * 100%);
  }

  .l-col--md-3-7 {
    flex-basis: calc(3 / 7 * 100%);
    max-width: calc(3 / 7 * 100%);
  }

  .l-col--md-4-7 {
    flex-basis: calc(4 / 7 * 100%);
    max-width: calc(4 / 7 * 100%);
  }

  .l-col--md-5-7 {
    flex-basis: calc(5 / 7 * 100%);
    max-width: calc(5 / 7 * 100%);
  }

  .l-col--md-6-7 {
    flex-basis: calc(6 / 7 * 100%);
    max-width: calc(6 / 7 * 100%);
  }
}


@media (--v-lg) {
  .l-col--lg-1-7 {
    flex-basis: calc(1 / 7 * 100%);
    max-width: calc(1 / 7 * 100%);
  }

  .l-col--lg-2-7 {
    flex-basis: calc(2 / 7 * 100%);
    max-width: calc(2 / 7 * 100%);
  }

  .l-col--lg-3-7 {
    flex-basis: calc(3 / 7 * 100%);
    max-width: calc(3 / 7 * 100%);
  }

  .l-col--lg-4-7 {
    flex-basis: calc(4 / 7 * 100%);
    max-width: calc(4 / 7 * 100%);
  }

  .l-col--lg-5-7 {
    flex-basis: calc(5 / 7 * 100%);
    max-width: calc(5 / 7 * 100%);
  }

  .l-col--lg-6-7 {
    flex-basis: calc(6 / 7 * 100%);
    max-width: calc(6 / 7 * 100%);
  }
}
