.l-col--1-9 {
  flex-basis: calc(1 / 9 * 100%);
  max-width: calc(1 / 9 * 100%);
}

.l-col--2-9 {
  flex-basis: calc(2 / 9 * 100%);
  max-width: calc(2 / 9 * 100%);
}

.l-col--3-9 {
  flex-basis: calc(3 / 9 * 100%);
  max-width: calc(3 / 9 * 100%);
}

.l-col--4-9 {
  flex-basis: calc(4 / 9 * 100%);
  max-width: calc(4 / 9 * 100%);
}

.l-col--5-9 {
  flex-basis: calc(5 / 9 * 100%);
  max-width: calc(5 / 9 * 100%);
}

.l-col--6-9 {
  flex-basis: calc(6 / 9 * 100%);
  max-width: calc(6 / 9 * 100%);
}

.l-col--7-9 {
  flex-basis: calc(7 / 9 * 100%);
  max-width: calc(7 / 9 * 100%);
}

.l-col--8-9 {
  flex-basis: calc(8 / 9 * 100%);
  max-width: calc(8 / 9 * 100%);
}

@media (--v-sm) {
  .l-col--sm-1-9 {
    flex-basis: calc(1 / 9 * 100%);
    max-width: calc(1 / 9 * 100%);
  }

  .l-col--sm-2-9 {
    flex-basis: calc(2 / 9 * 100%);
    max-width: calc(2 / 9 * 100%);
  }

  .l-col--sm-3-9 {
    flex-basis: calc(3 / 9 * 100%);
    max-width: calc(3 / 9 * 100%);
  }

  .l-col--sm-4-9 {
    flex-basis: calc(4 / 9 * 100%);
    max-width: calc(4 / 9 * 100%);
  }

  .l-col--sm-5-9 {
    flex-basis: calc(5 / 9 * 100%);
    max-width: calc(5 / 9 * 100%);
  }

  .l-col--sm-6-9 {
    flex-basis: calc(6 / 9 * 100%);
    max-width: calc(6 / 9 * 100%);
  }

  .l-col--sm-7-9 {
    flex-basis: calc(7 / 9 * 100%);
    max-width: calc(7 / 9 * 100%);
  }

  .l-col--sm-8-9 {
    flex-basis: calc(8 / 9 * 100%);
    max-width: calc(8 / 9 * 100%);
  }
}

@media (--v-md) {
  .l-col--md-1-9 {
    flex-basis: calc(1 / 9 * 100%);
    max-width: calc(1 / 9 * 100%);
  }

  .l-col--md-2-9 {
    flex-basis: calc(2 / 9 * 100%);
    max-width: calc(2 / 9 * 100%);
  }

  .l-col--md-3-9 {
    flex-basis: calc(3 / 9 * 100%);
    max-width: calc(3 / 9 * 100%);
  }

  .l-col--md-4-9 {
    flex-basis: calc(4 / 9 * 100%);
    max-width: calc(4 / 9 * 100%);
  }

  .l-col--md-5-9 {
    flex-basis: calc(5 / 9 * 100%);
    max-width: calc(5 / 9 * 100%);
  }

  .l-col--md-6-9 {
    flex-basis: calc(6 / 9 * 100%);
    max-width: calc(6 / 9 * 100%);
  }

  .l-col--md-7-9 {
    flex-basis: calc(7 / 9 * 100%);
    max-width: calc(7 / 9 * 100%);
  }

  .l-col--md-8-9 {
    flex-basis: calc(8 / 9 * 100%);
    max-width: calc(8 / 9 * 100%);
  }
}


@media (--v-lg) {
  .l-col--lg-1-9 {
    flex-basis: calc(1 / 9 * 100%);
    max-width: calc(1 / 9 * 100%);
  }

  .l-col--lg-2-9 {
    flex-basis: calc(2 / 9 * 100%);
    max-width: calc(2 / 9 * 100%);
  }

  .l-col--lg-3-9 {
    flex-basis: calc(3 / 9 * 100%);
    max-width: calc(3 / 9 * 100%);
  }

  .l-col--lg-4-9 {
    flex-basis: calc(4 / 9 * 100%);
    max-width: calc(4 / 9 * 100%);
  }

  .l-col--lg-5-9 {
    flex-basis: calc(5 / 9 * 100%);
    max-width: calc(5 / 9 * 100%);
  }

  .l-col--lg-6-9 {
    flex-basis: calc(6 / 9 * 100%);
    max-width: calc(6 / 9 * 100%);
  }

  .l-col--lg-7-9 {
    flex-basis: calc(7 / 9 * 100%);
    max-width: calc(7 / 9 * 100%);
  }

  .l-col--lg-8-9 {
    flex-basis: calc(8 / 9 * 100%);
    max-width: calc(8 / 9 * 100%);
  }
}
