@import "../_var.css";
.l-row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin-right: calc(var(--g-gutter-md) * -0.5);*/
  /*margin-left: calc(var(--g-gutter-md) * -0.5);*/
  margin-left: calc(-1 * var(--g-gutter-md) * 0.5);
  margin-right: calc(-1 * var(--g-gutter-md) * 0.5);
}
